.activity-table {
  table-layout: fixed;

  .row-id {
    width: 5%;
  }

  .row-date {
    width: 15%;
  }

  .row-user {
    width: 10%;
  }

  .row-activity {
    width: 25%;
  }

  .row-message {
    width: 30%;
  }

  .row-action {
    width: 10%;
  }

  .new {
    color: green;
  }

  .create {
    color: green;
  }

  .delete {
    color: red;
  }

  .update {
    color: #2196f3;
  }
}
