$SENDGRID_BLUE: #1a82e2;

.filter-column {
  position: relative;
}

.filter-field-container {
  padding-bottom: 15px;
}

.filter-actions-container {
  padding-top: 15px;
}

.filter-wrap {
  margin-top: 20px;
}

.select-filter {
  padding-top: 15px;
}

.sg-date-picker {
  margin-top: 0.5rem;
}

.CalendarDay__selected_span {
  background: $SENDGRID_BLUE;
  color: white;
  border: 1px solid $SENDGRID_BLUE;
}

.CalendarDay__selected {
  background: $SENDGRID_BLUE;
  color: white;
}

.CalendarDay__selected:hover {
  background: $SENDGRID_BLUE;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #f2f2f2;
}
