.filter-column {
  position: relative;
}

.filter-field-container {
  padding-bottom: 15px;
}

.filter-actions-container {
  padding-top: 15px;
}

.filter-wrap {
  margin-top: 20px;
}

.select-filter {
  padding-top: 15px;
}
