.filter-column {
  position: relative;
}

.filter-select {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.filter-field-container {
  padding-bottom: 15px;
}

.filter-actions-container {
  padding-top: 15px;
}

.select-filter {
  padding-top: 15px;
}
