.container {
  h1 {
    margin-bottom: 0;
  }
}

th.actions-cell {
  padding-right: 0;
  text-align: right;
}

.csv-button-col {
  text-align: right;
}

.csv-button {
  left: 20px;
}

.rules-tab {
  height: 90%;
  margin-bottom: 1rem;
}

.create-rule-button,
.csv-button {
  white-space: nowrap;
}

.bounce-rule-loader {
  height: 50vh;
}

.delete-confirm-modal {
  position: fixed !important;
}

.loading {
  display: flex;
  height: 53vh;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #9e9e9e;
}
