.container {
  h1 {
    margin-bottom: 0;
  }
}

.csv-button-col {
  text-align: right;
}

.page-tab {
  height: 90%;
  margin-bottom: 1rem;
}

.create-rule-button {
  white-space: nowrap;
}

.bounce-rule-loader {
  height: 50vh;
}

.loading {
  display: flex;
  height: 53vh;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #9e9e9e;
}
