.header-container {
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.header-user-container {
  padding-top: 20px;
  text-align: right;
}

.sg-logo {
  min-width: 125px;
}

.header-greeting {
  text-align: left;
  padding-right: 5px;
}

.header-logout {
  font-size: 1rem;
}
