.rule-table {
  table-layout: fixed;

  .row-id {
    width: 5%;
  }

  .row-bounce-action {
    width: 20%;
  }

  .row-response-code {
    width: 15%;
  }

  .row-description {
    width: 45%;
  }

  .row-actions {
    width: 10%;
  }
}
