.detail-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #f4f6f7;

  td {
    padding: 15px 10px;

    &.description-cell {
      width: 25%;
    }
  }

  th,
  td {
    word-wrap: break-word;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0.5px 0 5px #9e9e9e;
    .editable {
      display: block;
    }
  }

  .table-wrap {
    margin-bottom: 0px;
  }

  .editable {
    position: absolute;
    padding-top: 12px;
    padding-right: 12px;
    top: 0;
    right: 0;
    display: none;

    .sg-icon {
      color: #294661;
      font-size: 30px;
    }
  }

  &.detail-container-editable {
    box-shadow: 0.5px 0 5px #9e9e9e;

    .input-text-wrap {
      margin-bottom: 0;
    }
  }
}

.sg-button {
  width: 125px;
}

.details-button-column {
  margin-top: 10px;
}

.table-fixed {
  table-layout: fixed;
}

.description-info {
  width: 100%;
  .table-wrap {
    margin-bottom: 0;
  }
}

.detail-info {
  display: flex;
  width: 100%;
}

.changelog-container {
  margin-top: 2vh;

  th.actions-align {
    padding-right: 0;
    text-align: right;
  }

  .changelog-csv {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    margin: 0;
  }

  h2 {
    margin-bottom: 5px;
  }
}

.changelog-view-icon-cell {
  text-align: right;
}

.changelog-view-icon {
  color: #7f90a0;
  &:hover {
    cursor: pointer;
  }
}

.changelog-modal {
  padding: 2vh;

  .table-wrap td,
  .table-wrap th {
    padding: 0.8rem;
  }

  h1 {
    margin-bottom: 0px;
  }
  .change-table {
    > td {
      padding: 10rem;
    }
  }

  .changelog-modal-button {
    text-align: right;
  }
}

.uneditable {
  padding: 10px;
}
