.header-button {
  &.back-button {
    margin-right: 10px;
  }
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  padding: 5px;
  background: #f4f6f7;

  td {
    padding: 15px 10px;

    &.description-cell {
      width: 25%;
    }
  }

  th,
  td {
    word-wrap: break-word;
  }
}

.table-fixed {
  table-layout: fixed;
}

.description-info {
  width: 100%;
  .table-wrap {
    margin-bottom: 0;
  }
}

.detail-info {
  display: flex;
  width: 100%;
}

.changelog-container {
  margin-top: 2vh;

  th.actions-align {
    padding-right: 0;
    text-align: right;
  }
}

.changelog-view-icon-cell {
  text-align: right;
}

.changelog-view-icon {
  color: #7f90a0;
  &:hover {
    cursor: pointer;
  }
}

.changelog-modal {
  padding: 5vh;

  h1 {
    margin-bottom: 0px;
  }
  .change-table {
    > td {
      padding: 15px;
    }
  }
}
