.network-alert {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sg-button {
  width: 125px;
}

.sm-sg-button {
  width: 100px;
  margin: 10px;
}

.details-button-column {
  margin-top: 10px;
}
