.login-form-container {
  background: white;
  margin: 40px auto;
  display: inline-block;
  width: 525px;
  height: 665px;
  box-shadow: 0.5px 0 5px #9e9e9e;
}

.login-logo {
  margin-top: 9rem;
  margin-bottom: 1.5rem;
}

.login-form-body {
  text-align: left;
}

.login-button-container {
  padding-top: 25px;
  text-align: center;
}
